.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__examples:is(:hover,:focus){
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__box{
        position: relative;
        overflow: hidden;
    }

    &__img{
        display: block;
    }

    &__overlay-box{
        position: absolute;
        inset: 0;
        background-color: $color-active;
        opacity: 0.9;
        transform: translateY(100%);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__overlay-content{
        font-family: $font-roboto;
        font-size: 18px;
        line-height: 1.56;
        color: $bgcolor-light;
        padding: 49px 45px 49px 24px;
    }

    &__description{
        background: #ffffff;
        border: 1px solid #eeeeee;
        border-top: none;
        padding: 20px 24px;
    }

    &__name{
        font-weight: $font-weight700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06;
        color: $text-primary;
    }

    &__type{
        line-height: 1.88;
        color: $text-light;
        margin-top: 4px;
    }
}

.grid__examples:is(:hover, :focus) > .grid__box > .grid__overlay-box {
  transform: translateY(0);
  display: block;
}