.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;

  @include tablet {
    padding: 19px 0;
  }

  @include desktop {
    padding: 24px 0px 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &header__open-menu {
    background-color: transparent;
    border: none;

    @include tablet {
      display: none;
    }
  }
}
