* {
    margin: 0;
    padding: 0;
  }
  * {
    outline: none;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  body {
    font-family: $font-roboto;
    color: $text-primary;
    letter-spacing: 0.03em;
  }