$text-primary: #212121;
$text-light: #757575;
$color-active: #2196f3;
$color-media: #afb1b8;
$bgcolor-dark: #2f303a;
$bgcolor-light: #ffffff;
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway';
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$font-weight900: 900;
